<h1>Records</h1>

<!-- Errors when adding an invalid record -->
<% if @record.errors.any? %>
  <div class="alert">
    <p><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</p>

    <ul>
    <% @record.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<table class="table table-striped">
  <!-- Table headers -->
  <tr>
    <th><%= "Branch" %></th>
    <th><%= "Start date" %></th>
    <th><%= "End date" %></th>
    <th colspan="2"><%= "Consumption data" %></th>
    <th><%= "Verified" %></th>
    <th></th>
    <th></th>
  </tr>

  <!-- "New" form in table -->
  <tr>
    <%= form_for(@record) do |f| %>
      <td><%= f.select :branch_id, @branches.map { |branch| [branch.name, branch.id] } %></td>
      <td><%= f.text_field :start_date, placeholder: "YYYY-MM-DD" %></td>
      <td><%= f.text_field :end_date, placeholder: "YYYY-MM-DD" %></td>
      <td><%= f.text_field :consumption_data, id: "consumption_data-field" %></td>
      <td>kWh</td>

      <!-- Only admin can verify when adding a record -->
      <% if current_user.admin? %>
        <td><%= f.check_box :verified %></td>
      <% else %>
        <td>-</td>
      <% end %>

      <td></td>
      <td><%= f.submit "Submit" %></td>
    <% end %>
  </tr>

  <!-- List of all records -->
  <% @records.each do |record| %>
    <tr>
      <td><%= record.branch.name %></td>
      <td><%= record.start_date %></td>
      <td><%= record.end_date %></td>
      <td><%= record.consumption_data %> kWh</td>
      <td></td>

      <!-- Only admin can verify an existing record -->
      <% if current_user.admin? %>
        <!-- Edit in place -->
        <td><%= best_in_place record, :verified, as: :checkbox, collection: ["-", "✔"] %></td>
      <% else %>
        <!-- Translate: checkmark instead of true/false -->
        <td><%= translate(record.verified.class) %></td>
      <% end %>

      <!-- Only edit and delete links when record is not yet verified -->
      <% if record.verified %>
        <td></td>
        <td></td>
      <% else %>
        <td><%= link_to "Edit", edit_record_path(record) %></td>
        <td><%= link_to "Delete", record_path(record), method: :delete, data: {confirm: "Are you sure?"} %></td>
      <% end %>
    </tr>
  <% end %>
</table>
